<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Importez vos dépendances CSS et JavaScript ici -->
</head>
<body>
<form th:action="@{/reset-password}" method="post">
    <label for="password">Nouveau mot de passe:</label>
    <input type="password" id="password" name="password" required>
    <input type="hidden" id="token" name="token" th:name="token" th:value="${token}" />
    <button type="submit">Réinitialiser le mot de passe</button>
</form>

<p th:if="${message}" th:text="${message}" class="success-message"></p>
<p th:if="${error}" th:text="${error}" class="error-message"></p>
</body>
</html>
